<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p><a href="{{ '/team/' | relative_url }}">Tim Pengembang</a> Bawaslu Jatim</p>
      <p>&copy;&nbsp;{{ site.time | date: '%Y' }}.
        <a href="https://github.com/zickkeen/">Zick Keen</a></p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ 'img/footer-logo.png' | relative_url }}" width="100" height="30" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5fa4a49ffe038e7c95aa8393/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
