<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li {%- if page.title == 'News' %} class="current" {%- endif %}>
        <a href="{{ '/berita/' | relative_url }}">Semua Berita</a>
      </li>
    </ul>
    <h4>List Berita</h4>
    <ul>
    {% for post in site.posts -%}
      {% unless post.categories contains 'release' -%}
      <li {%- if page.title == post.title %} class="current" {%- endif %}>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endunless -%}
    {% endfor -%}
    </ul>
  </aside>
</div>
